manifest {
	author = "Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "Metagenomics Trait prediction"
	name = "porTRAIT"
	nextflowVersion = ">=24"
	version = "0.1"
}

process {
    withName: recognise_genome {        
        container = "ghcr.io/grp-bork/recognise:main"
		label = "small"
		cpus = 8
		memory = { 16.GB * task.attempt }
		time = { 1.day * task.attempt }
    }
	withName: gtdbtk_classify {
		container = "quay.io/biocontainers/gtdbtk:2.4.1--pyhdfd78af_1"
		label  = 'highmemLarge'
    	cpus   = 24
    	memory = { 64.GB  * task.attempt }
    	time   = { 4.days * task.attempt }
	}
	withName: genomespot {
		container = "ghcr.io/cschu/genomespot:main"
		label = "small"
		memory = { 4.GB * task.attempt }
		time = { 1.day * task.attempt }
	}
	withName: eggnog_mapper {
		container = "quay.io/biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_2"
		label = "highmemLarge"
		cpus = 16
		memory = { 64.GB * task.attempt }
		time = { 1.day * task.attempt }
	}
	withName: emapper2matrix {
		container = "registry.git.embl.org/schudoma/portrait_sklearn:v1.2.2_micropherret"
		label = "tiny"
		time = { 30.min * task.attempt }
		memory = { 4.GB * task.attempt }
	}
	withName: micropherret {
		container = "registry.git.embl.org/schudoma/portrait_sklearn:v1.2.2_micropherret"
		label = "tiny"
		time = { 4.h * task.attempt }
		memory = { 16.GB * task.attempt }
	}
	withName: bacdive_ai {
		//container = "registry.git.embl.org/schudoma/portrait_sklearn:latest"
		container = "registry.git.embl.org/schudoma/portrait_sklearn:v.1.4.0_traitar_bacdive"
		label = "tiny"
		time = { 4.h * task.attempt }
		memory = { 16.GB * task.attempt }
	}
	withName: traitar {
		//container = "registry.git.embl.org/schudoma/portrait_sklearn:latest"
		container = "registry.git.embl.org/schudoma/portrait_sklearn:v.1.4.0_traitar_bacdive"
		label = "tiny"
		time = { 4.h * task.attempt }
		memory = { 16.GB * task.attempt }
	}
}

params {
    output_dir = null
    input_dir = null
    marker_db = null
	gtdbtk_data = null
}

docker {
    enabled = true
}

env {
	GTDBTK_DATA_PATH = params.gtdbtk_data
}